<div class="workaround">
  <label for="list_name">Editing <%= @list[:name] %></label>
  <label for="delete">Delete List</label>
</div>

<form action="/lists/<%= params[:id] %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the new name for your new list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= params[:list_name] || @list[:name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Update">
    <a href="/lists/<%= params[:id] %>">Cancel</a>
  </fieldset>
</form> 

<% content_for :header_links do %>
  <a href="/lists">All Lists</a>
<% end %>