<ul id="lists">
  <% @lists.each do |list| %>
    <% list.each_with_index do |
    <li>
      <a href="/lists/todos/<%= index %>">
        <h2><%= list[:name] %></h2>
        <p><%= list[:todos].size %></p>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a href="/lists/new">New List</a>
<% end %>